global
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 1h
    timeout server 1h

resolvers fly
    nameserver flydns [fdaa::3]:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend pg
    bind :5432 accept-proxy
    tcp-request session reject if !{ src -f /usr/local/etc/haproxy/allow.lst }
    default_backend postgres

backend postgres
    server postgres "${MDP_PG_BACKEND_HOST}:5432" check resolvers fly init-addr none resolve-prefer ipv6

listen stats
    bind :8404
    mode http
    stats enable
    stats uri /stats
